@use "../util/functions" as u;

.header {
  padding: 1.5rem 2.5rem;
  display: flex;
  align-items: center;

  @mixin headerFontSettings() {
    color: var(--medium-gray);
    font-size: 0.9rem;
    font-weight: 700;
  }

  nav {
    flex-grow: 1;
  }

  &__logo {
    margin-right: 4rem;
  }

  &__menu {
    list-style: none;
    display: flex;
    gap: 2.6%;
    @include headerFontSettings();

    li {
      display: grid;
      place-items: center;
    }

    &__option-container {
      position: relative;
      &__option {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;

        &__text {
        }

        &__arrow {
        }
      }

      &__suboptions {
        position: absolute;
        right: 0;
        top: 100%;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition: 500ms opacity ease-in-out, 300ms transform ease-in-out;
        background-color: var(--almost-white);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-shadow: 0 0 0.4rem 0.1rem var(--medium-gray);
        border-radius: 0.5rem;
        padding: 1rem;
        min-width: 100%;

        &__suboption {
          display: flex;
          align-items: flex-start;
          gap: 1rem;
          font-size: 0.8rem;
          font-weight: 700;
          &__icon {
          }

          &__text {
          }
        }
      }

      &.hovered-over {
        > .header__menu__option-container__option {
          color: var(--almost-black);
          .header__menu__option-container__option__arrow {
            transform: rotate(180deg);
          }
        }

        > .header__menu__option-container__suboptions {
          opacity: 1;
          transform: scaleY(1);
        }
      }
    }

    &__login {
      margin-left: auto;
      button {
        @include headerFontSettings();
        background-color: transparent;
        cursor: pointer;
      }
    }

    &__register {
      button {
        @include headerFontSettings();
        background-color: transparent;
        cursor: pointer;
        border: 1px solid var(--medium-gray);
        padding: 0.7rem 1.3rem;
        border-radius: 1rem;
      }
    }
  }

  &__menu-opener {
    display: none;
  }

  @media (max-width: 700px) {
    position: relative;
    padding: 1rem;

    nav {
      padding: 5rem 1rem;

      display: block;
      visibility: hidden;
      transform: scaleX(0);
      transition: 300ms visibility ease-in-out, 300ms transform ease-in-out;
      transform-origin: right;

      width: 60%;
      height: 100vh;
      position: fixed;
      z-index: 999;
      right: 0;
      top: 0;
      background-color: var(--almost-white);

      .header__menu {
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
        font-weight: 500;

        &__option-container {
          justify-items: start;

          &__suboptions {
            position: static;
            max-height: 0;
            transform-origin: top;
            transition: 500ms opacity ease-in-out, 300ms transform ease-in-out,
              300ms max-height ease-in-out;
            box-shadow: unset;
            border-radius: 0;
            padding: 0;

            &__suboption {
              display: flex;
              align-items: flex-start;
              gap: 1rem;
              font-size: 0.8rem;
              font-weight: 700;
              &__icon {
              }

              &__text {
              }
            }
          }

          &.hovered-over {
            > .header__menu__option-container__suboptions {
              opacity: 1;
              transform: scaleY(1);
              max-height: 999px;
              padding: 1rem;
            }
          }
        }

        &__login {
          margin-inline: auto;
          button {
            font-weight: 500;
          }
        }

        &__register {
          width: 100%;

          button {
            font-weight: 500;
            width: 100%;
          }
        }
      }
    }

    &__menu-opener {
      display: block;
      content: url("/assets/icon-menu.svg");
      position: absolute;
      right: 1rem;
      cursor: pointer;
      z-index: 999;
    }

    &.menu-opened {
      > .header__menu-opener {
        content: url("/assets/icon-close-menu.svg");
      }

      > .header__shadow-realm {
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 998;
        left: 0;
        top: 0;
        background-color: var(--shadow-overlay);
        cursor: pointer;
      }

      > nav {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }
}
