@use "../util/functions" as u;

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: "Epilogue", sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--almost-white);
}

#app {
  width: 100%;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
